body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

.Title{
    
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;


}
    
/* HomeScreen.css */

.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  

}

.navbar ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  
}

.navbar ul li {
  display: inline;
  margin-right: 24px;
  float: left;
  

}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 10px;
}
